<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet"/>
<style>
    #barra_de_busqueda{
        margin: 10px;
        
    }
    #subida{
        margin: 10px;
    }
    #orden{
        margin: 10px;
    }
    #meses{
        margin: 10px;
    }
</style>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <a href = "/" class="navbar-brand"><h4>TEMMEDICAL</h5></a>
                    </div>
                </div>
            </div>
        </div>    
    </nav>